<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Week5</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css'
    integrity='sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=='
    crossorigin='anonymous' />
</head>


<body>
  <div id="app">
    <user-modal ref="userModal" :temp-product="tempProduct" :add-to-cart="addToCart"></user-modal>
    <div class="container">
      <div class="mt-4">
        <!-- 產品列表 -->
        <table class="table align-middle">
          <thead>
            <tr>
              <th>圖片</th>
              <th>商品名稱</th>
              <th>價格</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="product in products" :key="product.id">
              <td style="width: 200px">
                <div style="height: 100px; background-size: cover; background-position: center" :style="{backgroundImage:`url(${product.imageUrl})`}"
                  ></div>
              </td>
              <td>
              
                {{ product.title }}
              </td>
              <td>
                <div class="h5" v-if="!product.price">{{product.origin_price }} 元</div>
                <del class="h6" v-if="product.price">原價 {{ product.origin_price }} 元</del>
                <div class="h5"  v-if="product.price">現在只要 {{ product.price }} 元</div>
              </td>
              <td>
                <div class="btn-group btn-group-sm">
                  <button type="button" class="btn btn-outline-secondary"
                  @click="openModal(product)">
                    <i class="fas fa-spinner fa-pulse"></i>
                    查看更多
                  </button>
                  <button type="button" class="btn btn-outline-danger" :disabled="product.id==status.cartLoading"
                  @click="addToCart(product.id)" >
                  <span class="spinner-border spinner-border-sm" aria-hidden="true" v-if="product.id==status.cartLoading"></span>
                    加到購物車
                  </button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- 購物車列表 -->
        <div class="text-end">
          <button class="btn btn-outline-danger" type="button">清空購物車</button>
        </div>
        <table class="table align-middle">
          <thead>
            <tr>
              <th></th>
              <th>品名</th>
              <th style="width: 150px">數量/單位</th>
              <th>單價</th>
            </tr>
          </thead>
          <tbody>
         <!--<template> //3.為何這個註解才會顯示?-->   
              <tr v-for="cart in carts.carts" :key="cart.id">
                <td>
                  <button type="button" class="btn btn-outline-danger btn-sm"
                   >
                    <i class="fas fa-spinner fa-pulse"></i>
                    x
                  </button>
                </td>
                <td>
                  {{ cart.product.title }}
                  <div class="text-success">
                    已套用優惠券
                  </div>
                </td>
                <td>
                  <div class="input-group input-group-sm">
                    <div class="input-group mb-3">  <!--5.change是甚麼用法?-->
                      <button type="button" @click="cart.qty--;changeCart(cart,cart.qty)">-</button>
                      <input  min="1" type="number" class="form-control" v-model="cart.qty" :disable="cart.id==status.changeLoading" >
                      <button type="button" @click="cart.qty++;changeCart(cart,cart.qty)">+</button>
                      <span class="input-group-text" id="basic-addon2">{{}}</span>
                    </div>
                  </div>
                </td>
                <td class="text-end">
                  {{ cart.total }}
                </td>
              </tr>
              <!--</template>-->   
          </tbody>
          <tfoot>
            <tr>
              <td colspan="3" class="text-end">總計</td>
              <td class="text-end">{{ carts.final_total }}</td>
            </tr>
        
          </tfoot>
        </table>
      </div>
      <div class="my-5 row justify-content-center">
        <v-form ref="form" class="col-md-6" v-slot="{ errors }" @submit="sendTo" >
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <v-field id="email" name="email" type="email" class="form-control"
              placeholder="請輸入 Email" rules="email|required"  :class="{'is-invalid':errors['Email']}" v-model="form.email"
             ></v-field>
            <error-message name="email" class="invalid-feedback"></error-message>
          </div>

          <div class="mb-3">
            <label for="name" class="form-label">收件人姓名</label>
            <v-field id="name" name="姓名" type="text" class="form-control"
              placeholder="請輸入姓名" rules="required"  :class="{'is-invalid':errors['收件人姓名']}" v-model="form.name" ></v-field>
            <error-message name="姓名" class="invalid-feedback"></error-message>
          </div>

          <div class="mb-3">
            <label for="tel" class="form-label">收件人電話</label>
            <v-field id="tel" name="電話" type="text" class="form-control"
              placeholder="請輸入電話"  :rules="isPhone"  :class="{'is-invalid':errors['收件人電話']}" v-model="form.tel"></v-field>
            <error-message name="電話" class="invalid-feedback"></error-message>
          </div>

          <div class="mb-3">
            <label for="address" class="form-label">收件人地址</label>
            <v-field id="address" name="地址" type="text" class="form-control"
              placeholder="請輸入地址" rules="required"  :class="{'is-invalid':errors['收件人地址']}" v-model="form.address"></v-field>
            <error-message name="地址" class="invalid-feedback"></error-message>
          </div>

          <div class="mb-3">
            <label for="message" class="form-label">留言</label>
            <textarea name="" id="message" class="form-control" cols="30" rows="10" :class="{'is-invalid':errors['留言']}" v-model="form.message"></textarea>
          </div>
          <div class="text-end">
            <button type="submit" class="btn btn-danger">送出訂單</button>
          </div>
        </v-form>
      </div>
    </div>
  </div>
 <script type="text/x-template" id="userProductModal">
      <div class="modal fade" id="productModal" tabindex="-1" role="dialog"
       aria-labelledby="exampleModalLabel" aria-hidden="true" ref="modal">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content border-0">
            <div class="modal-header bg-dark text-white" >
              <h5 class="modal-title" id="exampleModalLabel">
                <span></span>
              </h5>
              <button type="button" class="btn-close"
                      data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-6">
                  <img class="img-fluid" :src="tempProduct.imageUrl" alt="">
                </div>
                <div class="col-sm-6">
                  <span class="badge bg-primary rounded-pill"></span>
                  <p>商品描述：{{tempProduct.description}}</p>
                  <p>商品內容：{{tempProduct.content}}</p>
                  <div class="h5" v-if="tempProduct.price==tempProduct.origin_price"> {{tempProduct.price}}元</div>
                  <del class="h6" v-else>原價 {{tempProduct.origin_price}} 元</del>
                  <div class="h5"v-else>現在只要{{tempProduct.price}} 元</div>
                  <div>
                    <div class="input-group">
                     <select class="select-form" v-model="qty" >
                      <option :value="i" v-for="i in 20" :key="i">{{i}}</option>
                     </select>
                      <button type="button" class="btn btn-primary" @click="addToCart(tempProduct.id,qty)"
>加入購物車</button>
                    </div>
                  </div>
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </script> 

  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script src="https://github.com/logaretm/vee-validate/blob/vee-validate%404.1.16/packages/i18n/src/locale/zh_TW.json"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="https://unpkg.com/vee-validate@next"></script>
  <script src="https://unpkg.com/@vee-validate/i18n@4.1.0"></script>
  <script src="https://unpkg.com/@vee-validate/rules"></script>

  <script src="./index.js" type="module"></script>
</body>

</html>